.body {
  padding-top: 32px;
}

.bodyInner {
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 32px;
  align-items: start;
}

@media (max-width: 860px) {
  .bodyInner {
    grid-template-columns: 1fr;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 18px;
  padding: 22px 20px;
}
